<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div class="card" style="width: 18rem;">
            <div class="card-header">
              Show's Title: {{ read_show.title }}
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Show's Network: {{ read_show.network }}</li>
              <li class="list-group-item">Show's Rlease Date: {{ read_show.release }}</li>
              <li class="list-group-item">Show's Description: {{ read_show.description }}</li>
              <li class="list-group-item">Updated At: {{ read_show.updated_at }}</li>
            </ul>
          </div>
          <a href='/shows'>Go Back</a>
    </body>
</html>