<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>Add a Book!</h1>
        <form action='/add_books' method="POST">
            {% csrf_token %}
            Title: <input type='text' name='title'>
            Description: <input type='text' name='desc'>
            <input type='submit' value='Add'>
        </form>
        <a href='/authors'>Go to Authors section!</a>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for book in books %}
              <tr>
                <th scope="row">{{book.id}}</th>
                <td>{{book.title}}</td>
                <td><a href='/books/{{book.id}}'>View</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </body>
</html>